*{
    margin:0;
    padding: 0;
    overflow:inherit;
}
body{
    background-color: rgb(227, 233, 233);
}

/* styling header content */
nav{
    color: rgba(105, 107, 109, 0.884);
    margin-left: 40%;
    font-size:16px;
}
nav img{
    margin-top: 12%;
    width: 150px;
    height: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
}



/* section leftside content */

#icons{
    background-color: aqua;
    list-style: none;
    display: flex;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#icons li a{
    text-decoration: none;
}
#icons li a:hover{
    padding: 10px 10px 10px 10px;
    background-color: aquamarine;
    border: 1px solid green;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;

}
#icons li{
    padding: 10px 5px 0px 10px;
    font-size: smaller;
    
}
#iconsimg img{
    height: 20px;
    width: 100px;
}
#lefticons{
    margin-left: 60%;
    color:rgb(41, 41, 216);
    margin-top:5px ;
}
#faq{
    color:rgb(41, 161, 216);
    margin-top:5px ;
}
#phone{
    margin-top: 5px;
    color: rgb(41, 41, 216);

}
#login{
    background-color: rgb(0, 102, 255);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: xx-small;
    height: 20px;
    margin-top: .5%;
}

/* styling 404 */
.middiv{
    height: 600px;
    background:linear-gradient(45deg,rgb(2, 30, 122),rgb(22, 160, 214));
}
.middiv #p1{
    padding-top: 10%;
    padding-left: 40%;
    font-size: 200px;
    color: white;
}
#p2{
    color: white;
    margin-left: 45%;
}
#p3{
    margin-left: 47%;
    background-color: green;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 20px;
    color: white;
    margin-top: 1%;
}

/* section leftside content */
.leftside{
    height: 480px;
    background-color: white;
    /* position: relative;
    z-index: 1; */
}


/* styling the footer */
footer{
    background:white;
    height: 400px;
    
}
.footerimg{
    margin-left: 40%;
    padding-top: 4%;
    
}
#img2{
    width: 150px;
    height: 50px;
    margin-left: 20%;
    margin-top: 5%;
}
footer ul{
    margin-top: 3%;
    display: flex;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    
}
footer ul li{
    margin-left: 6%;
}
footer ul li p{
    margin: 4%;
}
footer ul li a{
    text-decoration: none;
    color:  rgb(141, 140, 137);
}
footer ul li p :hover{
    color:  green;
    font-weight: bold;

}
#footerli{
    color: rgb(141, 140, 137);
}
#mail{
    color: rgb(0, 81, 255);
}
.lastp{
    border-top: rgb(199, 196, 189) 4px solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: .5%;
    padding-top: 1%;
    padding-left: 30%;
    color: rgb(141, 140, 137);
    
}