*{
    margin:0;
    padding: 0;
    overflow:inherit;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(227, 233, 233);
}

/* styling header content */
nav{
    margin-top: 30px;
    color: rgba(105, 107, 109, 0.884);
    margin-right: 500px;
    margin-left: 500px;
    font-size:16px;
}
nav img{
    width: 150px;
    height: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
}



/* section leftside content */

#icons{
    list-style: none;
    display: flex;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#icons li a{
    text-decoration: none;
}
#icons li a:hover{
    padding: 10px 10px 10px 10px;
    background-color: aquamarine;
    border: 1px solid green;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;

}
#icons li{
    padding: 10px 5px 0px 10px;
    font-size: smaller;
    
}
#iconsimg img{
    height: 20px;
    width: 100px;
}
#lefticons{
    margin-left: 60%;
    color:rgb(41, 41, 216);
    margin-top:5px ;
}
#faq{
    color:rgb(41, 161, 216);
    margin-top:5px ;
}
#phone{
    margin-top: 5px;
    color: rgb(41, 41, 216);

}
#login{
    background-color: rgb(0, 102, 255);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: xx-small;
    height: 20px;
    margin-top: .5%;
}

/* styling first img div */
.firstdiv {
    height: 400px;
    max-width: 100%px;
    background-image: url(faq.jfif);
    /* background-repeat: no-repeat; */
    background-size:contain;
}
/* styling the mid section */
.left{
    max-width: 20%;
    padding-top: 10px;
    padding-right: 70px;
    max-width: fit-content;
    text-align: right;
    /* background:linear-gradient(45deg, rgb(3, 94, 63),rgb(24, 25, 26),rgb(3, 94, 63),rgb(24, 25, 26)); */
}
.left p{
    margin-bottom: 10px;
}
#lend{
    color: white;
    background-color: aquamarine;
    width: 100px;
    height: 20px;
    margin-left: 180px;
    text-align: center;
    border-radius: 0px 15px 15px 0px;
}
.midsection{
    max-height: fit-content;
    background:linear-gradient(45deg, rgb(3, 94, 63),rgb(24, 25, 26),rgb(3, 94, 63),rgb(24, 25, 26));
    max-width: 60%;
    margin-left: 350px;
    margin-top: -124px;
}

 /* frist div of lendfrim */
 .midsection .lendfrim{
    max-height: fit-content;
    border-bottom: 2px solid  rgba(199, 203, 207, 0.884);
 }
 .lendfrim h1{
    padding:10px 0px 0px 10px;
 }
 #right1{
    max-width: 40%;
    padding-left: 10px;
 }
 #right1 div{
    margin: 10px;
    color: rgba(105, 107, 109, 0.884);
 }
 #fp{
    font-size: 40px;
    color: rgb(44, 89, 212);
 }
 #sp{
    color: black;
    font-size: large;
 }
 #tp{
    padding-bottom: 20px;
    border-bottom: 2px solid  rgba(199, 203, 207, 0.884);
 }
#left1{
    max-width: 40%;
    padding-left: 10px;
    margin-left: 50%;
    margin-top: -500px;
}
#left1 div{
    margin: 10px;
    color: rgba(105, 107, 109, 0.884);
 }

/* second div of lindfrim  */
 .midsection .loanaplic{
    max-height: fit-content;
    border-bottom: 2px solid  rgba(199, 203, 207, 0.884);
    padding-top: 50px;
 }
 .loanaplic h1{
    padding:10px 0px 0px 10px;
 }

 /* styling div of loan */
.midsection .loan{
    max-height: fit-content;
    border-bottom: 2px solid  rgba(199, 203, 207, 0.884);
    padding-top: 50px;
}
.loan h1{
    padding:10px 0px 0px 10px;
 }
 #left3{
    max-width: 40%;
    padding-left: 10px;
    margin-left: 50%;
    margin-top: -1000px;
}
#left3 div{
    margin: 10px;
    color: rgba(105, 107, 109, 0.884);
 }

 /* styling div of profile */
.midsection .profile{
    max-height: fit-content;
    border-bottom: 2px solid  rgba(199, 203, 207, 0.884);
    padding-top: 50px;
}
#left4{
    max-width: 40%;
    padding-left: 10px;
    margin-left: 50%;
    margin-top: -400px;
    padding-bottom: 30px;
}
#left4 div{
    margin: 10px;
    color: rgba(105, 107, 109, 0.884);
 }


 /* styling last div */
 .lastdiv{
    height: 400px;
    background-color: white;
 }
 .lastdiv img{
    margin-left: 20%;
    height: 300px;
 }
 .lastdiv div{
    margin-left: 60%;
    margin-top: -15%;
 }
 .lastdiv div #p1{
    font-size: 24px;
    font-weight: bolder;
 }
 .lastdiv div #p2{
    color: rgba(105, 107, 109, 0.884);
    padding-top: 2%;
 }
 .lastdiv div #p3{
    background-color: rgb(0, 110, 255);
    width: 100px;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    margin-top: 2%;
 }
 .lastdiv div #p3 a{
    text-decoration: none;
    color: white;
 }


/* styling the footer */
footer{
    background:linear-gradient(45deg,rgb(1, 98, 136),rgb(46, 96, 235));
    height: 400px;
    
}
.footerimg{
    margin-left: 480px;
    margin-top: 50px;
    
}
#img2{
    width: 150px;
    height: 50px;
    margin-left: 200px;
    margin-top: 20px;
}
footer ul{
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
footer ul li{
    margin-left: 110px;
}
footer ul li p{
    margin: 15px;
}
footer ul li a{
    text-decoration: none;
    color:  rgb(141, 140, 137);
}
footer ul li p :hover{
    color:  green;
    font-weight: bold;

}
#footerli{
    color: rgb(141, 140, 137);
}
#mail{
    color: rgb(0, 81, 255);
}
.lastp{
    border-top: rgb(199, 196, 189) 4px solid;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 400px;
    color: rgb(141, 140, 137);
}
